site_name: pyutils Documentation

docs_dir: docs-web
site_dir: docs-web-site

theme:
  name: material

plugins:
  - search
  - gen-files:
      scripts:
        - scripts/mkdocs-gen-files/gen_api.py
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: google
            show_source: false
            show_root_heading: true
            separate_signature: true
  - autorefs
  
nav:
  # - Home: index.md
  - API: api/index.md
